.header {
  background-color: #222222;
  color: aliceblue;
  padding: 19px 0;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    & img {
      text-decoration: none;
      margin-right: 41px;
    }
  }

  &__right {
    & img {
      &:not(:last-child) {
        margin-right: 33px;
      }
    }
  }
}
